<style> 
 #all{
  width:100%;
 }
 #top{
  width:100%;
  min-width:1500px;
  height:30px;
  background:#073F7B;
 }
 .topRight a{
  color:#ffffff;
 }
 .topLeft a{
  color:#ffffff;
 }
 a:hover{
  color:red;
 }
 .topRiht{
  float:right;
 }
 .topLeft{
  float:left;
 }
 #top li{
  line-height:30px;
  margin-right:20px;
  margin-left:20px;
  float:right;
 }
 #top2{
  width:100%;
  min-width:1500px;
  height:145px;
  background:#004EA1;
 }
 #lo{
  width:460px;
  height:145px;
  margin-left:60px;
  float:left;
 }
 #bg{
  width:460px;
  height:145px;
  margin-left:100px;
  float:left;
 }
 #sr{
  width:344px;
  height:40px;
  margin-top:30px;
  margin-right:40px;
  float:right;
 }
 .kuang input{
  border:0px;
  width:300px;
  height:40px;
  float:left;
  background:#04458A;
  opacity:0.4;
  filter:alpha(opacity=40);
 }
 .an input{
  border:0px;
  width:40px;
  height:40px;
  float:right;
  background:url(../image/button.jpg);
  opacity:0.4;
  filter:alpha(opacity=40);
 }
 #menu{
  border-top:2px solid #3366cc;
  width:100%;
  min-width:1500px;
  height:60px;
  background:#004EA1;
 }
 .mu li{
  margin-left:80px;
  margin-top:12px;
  float:left;
  font-size:25px;
 }
 #mux1{
  width:235px;
  height:300px;
  font-size:20px;
  background:#004EA1;
  line-height:50px;
  display:none;
  position:absolute;
  top:235px;
  left:70px;
  z-index:100;
 }
 #mux2{
  width:235px;
  height:500px;
  font-size:20px;
  background:#004EA1;
  line-height:50px;
  display:none;
  position:absolute;
  top:235px;
  left:250px;
  z-index:100;
 }
 #mux3{
  width:235px;
  height:300px;
  font-size:20px;
  background:#004EA1;
  line-height:50px;
  display:none;
  position:absolute;
  top:235px;
  left:400px;
  z-index:100;
 }
 #mux4{
  width:235px;
  height:100px;
  font-size:20px;
  background:#004EA1;
  line-height:50px;
  display:none;
  position:absolute;
  top:235px;
  left:600px;
  z-index:100;
 }
 #mux5{
  width:235px;
  height:300px;
  font-size:20px;
  background:#004EA1;
  line-height:50px;
  display:none;
  position:absolute;
  top:235px;
  left:1280px;
  z-index:100;
 }
 #lbt{
  width:1200px;
  height:396px;
  margin-left:150px;
  overflow:hidden;
  position:relative;
 }
 #lbt-mid{
  width:9600px;
  position:absolute;
  left:0;
 }
 #lbt-mid li{
  float:left;
 }
 #left1{
  float:left;
  margin-top:120px;
  display:none;
 }
 #right1{
  float:right;
  margin-top:120px;
  display:none;
 }
 #newTop{
  width:1200px;
  height:50px;
  margin:5px 150px;
 }
 #newTopTxt{
  width:200px;
  height:50px;
  float:left;
 }
 #newTopTxt p{
  font-size:35px;
  line-height:50px;
 }
 #imageTop{
  float:right;
 }
 #news1{
  width:1500px;
  height:450px;
  background:#ffffff;
  overflow:hidden;
 }
 #left2{
  float:left;
  margin-left:20px;
  margin-top:200px;
 }
 #right2{
  float:right;
  margin-top:200px;
 }
 #main1{
  width:1500px;
  height:550px;
  margin:auto;
  display:block;
 }
 #new1-1{
  width:366px;
  height:370px;
  float:left;
  margin-left:93px;
  background:white;
 }
 #new1-1-oh{
  width:366px;
  height:220px;
  background:white;
 }
 #new1-1-oh1{
  width:85px;
  height:220px;
  float:left;
 }
 #day{
  width:85px;
  height:60px;
  margin-top:10px;
  background:#004EA1;
 }
 #day p{
  font-size:xx-large;
  color:white;
  text-align: center;
 }
 #new1-1-oh2{
  width:270px;
  height:210px;
  margin-top:10px;
  margin-left:10px;
  float:left;
 }
 #new1-2{
  width:366px;
  height:520px;
  float:left;
  margin-left:50px;
 }
 #new1-2-oh{
  width:366px;
  height:220px;
  background:white;
 }
 #new1-2-oh1{
  width:85px;
  height:220px;
  float:left;
 }
 #new1-2-oh2{
  width:270px;
  height:210px;
  margin-top:10px;
  margin-left:10px;
  float:left;
 }
 #new1-3{
  width:366px;
  height:520px;
  float:left;
  margin-left:50px;
 }
 #new1-3-oh{
  width:366px;
  height:220px;
  background:white;
 }
 #new1-3-oh1{
  width:85px;
  height:220px;
  float:left;
 }
 #new1-3-oh2{
  width:270px;
  height:210px;
  margin-top:10px;
  margin-left:10px;
  float:left;
 }
 #main2{
  width:1500px;
  height:550px;
  margin:auto;
  display:none;
 }
 #new1-4{
  width:366px;
  height:370px;
  float:left;
  margin-left:93px;
  background:white;
 }
 #new1-4-oh{
  width:366px;
  height:220px;
  background:white;
 }
 #new1-4-oh1{
  width:85px;
  height:220px;
  float:left;
 }
 #day{
  width:85px;
  height:60px;
  margin-top:10px;
  background:#004EA1;
 }
 #day p{
  font-size:xx-large;
  color:white;
  text-align: center;
 }
 #new1-4-oh2{
  width:270px;
  height:210px;
  margin-top:10px;
  margin-left:10px;
  float:left;
 }
 #new1-5{
  width:366px;
  height:520px;
  float:left;
  margin-left:50px;
 }
 #new1-5-oh{
  width:366px;
  height:220px;
  background:white;
 }
 #new1-5-oh1{
  width:85px;
  height:220px;
  float:left;
 }
 #new1-5-oh2{
  width:270px;
  height:210px;
  margin-top:10px;
  margin-left:10px;
  float:left;
 }
 #new1-6{
  width:366px;
  height:520px;
  float:left;
  margin-left:50px;
 }
 #new1-6-oh{
  width:366px;
  height:220px;
  background:white;
 }
 #new1-6-oh1{
  width:85px;
  height:220px;
  float:left;
 }
 #new1-6-oh2{
  width:270px;
  height:210px;
  margin-top:10px;
  margin-left:10px;
  float:left;
 }
 #new2{
  width:1202px;
  height:950px;
  margin-top:20px;
  margin-left:130px;
 }
 #new2Left{
  width:800px;
  height:950px;
  float:left;
 }
 #new2Right{
  width:400px;
  height:950px;
  float:right;
 }
 #school{
  width:800px;
  height:472px;
 }
 #circular{
  width:800px;
  height:472px;
  margin-top:6px;
 }
 #our{
  width:400px;
  height:470px;
  background:#F5F5F5;
 }
 #ourSchool{
  width:400px;
  height:470px;
  margin-top:10px;
  background:#F5F5F5;
 }
 .inIt{
  width:800px;
  height:58px;
  margin-bottom:1px;
 }
 .inItt{
  width:800px;
  height:58px;
  margin-bottom:1px;
  border-bottom:1px solid grey;
 }
 .S1{
  float:left;
  font-size:x-large;
  line-height:60px;
 }
 .S2{
  float:right;
  line-height:70px;
 }
 .date{
  font-size:x-large;
  float:left;
 }
 .about{
  font-size:large;
  margin-left:20px;
  float:left;
 }
 .NN{
  width:400px;
  height:235px;
 }
 .NLeft{
  width:150px;
  height:235px;
  float:left;
 }
 .Nimg{
  width:120px;
  height:150px;
  margin-top:50px;
  margin-left:15px;
 }
 .NRight{
  width:245px;
  height:235px;
  float:right;
 }
 .inN1{
  width:245px;
  height:77px;
  margin-top:1px;
  border-bottom:1px dashed grey;
  font-size:large;
 }
 .inN2{
  width:400px;
  height:77px;
  margin-top:1px;
  border-bottom:1px dashed grey;
  font-size:large;
 }
 #oW{
  width:1200px;
  height:170px;
  margin-left:130px;
 }
 #oW-top{
  width:1200px;
  height:60px;
  border-bottom:4px solid #004EA1;
 }
 .oWt{
  width:290px;
  height:80px;
  margin:10px 5px 0 5px;
  float:left;
 }
 #bottom{
  width:100%;
  min-width:1500px;
  height:50px;
  background:#001f41;
 }
 #bottom p{
  text-align:center;
  line-height:40px;
  color:white;
 }
</style> 